.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.custom-cursor {
  position: fixed;
  width: 100px;
  height: 100px;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

.rotating-text-circle {
  animation: rotateCursor 6s linear infinite;
}

@keyframes rotateCursor {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes rotateBG {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


